{% load static %}
<section id="head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/"><img src="{% static "ciciot/static/details/logo.png" %}" width="91px" height="83px"
                                 style=" padding-left: 10px"></a>
                <h5> 物联网技术与应用&nbsp|</h5>
                <h5>物联网学报</h5>
            </div>
            <div class="col-md-3 offset-md-3 d-md-block d-none">
                <div class="searchbox">
                    <form action="">
                        <input type="hidden" name="" value="全部搜索" id="select_value">
                        <input type="text" name="" id="searchPlaceholder" class="import" placeholder="请输入查找内容">
                        <input type="submit" value="搜   索" class="btn-search">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>