{% load static %}
<section class="head">
    <div class="container">
        <form class="d-flex justify-content-start align-items-center " action="/articles/search">
            <a href="/"><img src="{% static "ciciot/static/details/logo.png" %}" width="83px" height="83px"></a>
            <div class="px-1">
                <h5 class="my-0 title">物联网技术与应用</h5>
            </div>
            <div class="mr-auto">
                <h5 class="my-0 subtitle">|物联网学报</h5>
            </div>

            <div class="row ml-auto">
                <input class="py-1 search-content" type="text" name="keyword" required>
                <input class="py-1" type="submit" value="搜索">
            </div>
        </form>

    </div>


    </div>
</section>