{% load static %}
<section class="head">
    <div class="container">
        <div class="d-flex justify-content-between flex-row">
            <a href="/"><img src="{% static "ciciot/static/details/logo.png" %}" width="83px" height="83px"></a>
            <div class="d-flex justify-content-center  align-items-center px-1">
                <h5 class="my-0 title">物联网技术与应用</h5>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <h5 class="my-0 subtitle">|物联网学报</h5>
            </div>

            <form class="row search-box ml-auto d-flex align-items-center my-0" action="/articles/search">
                <input class="col-md-8 col-sm-6 col-6 py-1 search-content" type="text" name="keyword" required>
                <input class="col-md-4 col-sm-6 col-6 py-1" type="submit" value="搜索">
            </form>
        </div>
    </div>


    </div>
</section>