<nav class="navbar navbar-expand-sm navbar-light py-0">
    <div class="container">
        <div class="row w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto w-100">
                    <div class="col-md">
                        <li class="nav-item">
                            <a class="nav-link my-2" href="#journals">物联网学报</a>
                        </li>
                    </div>
                    <div class="col-md">
                        <li class="nav-item">
                            <a class="nav-link my-2" href="#skills">技术知识库</a>
                        </li>
                    </div>
                    <div class="col-md">
                        <li class="nav-item ">
                            <a class="nav-link my-2" href="#studys">研究学习平台</a>
                        </li>
                    </div>
                    <div class="col-md ">
                        <li class="nav-item">
                            <a class="nav-link my-2" href="#uses">应用知识库</a>
                        </li>
                    </div>
                    <div class="col-md ">
                        <li class="nav-item ">
                            <a class="nav-link my-2" href="#cvtns">行业会议</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        </ul>
    </div>
    </div>
</nav>