body {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.main h1 {
    font-size: 36px;
    margin-top: 46px;
    margin-bottom: 40px;
}

.main .article-info {
    font-size: 18px;
    color: #999999;
}

.main .container hr {
    margin-bottom: 40px;
}

.main .article-content {
    font-size: 18px;
}

.main .article-content img {
	max-width: 100%;
}

.main .share-like {
    font-size: 16px;
    color: #666666;
}

.main .like {
    height: 60px;
    width: 193px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

.main .like:hover {
    background-color: #f3f3f3;
}

.main .share:hover {
    background-color: #f3f3f3;
}

.main .share {
    height: 60px;
    width: 193px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}
