.head {
    margin-top: 18px;
    margin-bottom: 18px;
}

.head h5 {
    font-size: 22px;
    font-weight: 400;
}

.head .title {
}

.head .subtitle {
    color: #2a83d3;
}

.head .search-content {
    border: 1px solid #cccccc;
    font-size: 20px;
}

.head input[type="submit"] {
    background-color: #2a83d3;
    font-size: 22px;
    width: 120px;
    color: #ffffff;
}

.head .search-box {
    height: auto;
}

@media only screen and (max-width: 768px) {
    .head .subtitle {
        display: none;
    }
}
