body {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.search-box {
    height: 69px;
    margin-bottom: 30px;
}

.search-count {
    margin-top: 30px;
    font-size: 18px;
    color: #999999;
}

.search-content {
    border: 1px solid #cccccc;
    border-left: 1px solid #f3f3f3;
    font-size: 20px;
    border-radius: 0px;
}

input[type=submit] {
    color: white;
    font-size: 22px;
}

.search-condition {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-size: 20px;
}

.search-button {
    background-color: #2a83d3;
    border: 0px;
    border-radius: 0px;
}

.result-item {
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 0px;
}

.read-more {
    height: 60px;
    margin-top: 29px;
    border: 1px solid #cccccc;
}

.read-more p {
    font-size: 14px;
    color: #666666;
}

.article-image {
    height: 100%;
    width: 281px;
}

.article-image img {
    height: 100%;
    width: 100%;

}

.article-content {
    height: 100%;
    display: inline-block;
    padding-left: 20px;
    padding-top: 29px;
    border-left: 1px solid #cccccc;
}

.article-content .title {
    font-size: 18px;
    padding-bottom: 21px;
}

.article-link {
    text-decoration: none;
    color: inherit;
}

.article-content .content {
    font-size: 14px;
    padding-bottom: 20px;
    color: #999999;
}

.article-content .pub-date {
    font-size: 14px;
    color: #999999;
    padding-top: 20px;
    padding-bottom: 25px;
}

@media only screen and (max-width: 768px) {
    .search-condition {
        display: none !important;
    }

    .result-item {
        border-left: none;
    }

    .search-content {
        border-left: 1px solid #cccccc;
    }

}

